.form-group {
	width: 100px;
	display: inline-block;
	margin-right: 15px;
}

#new-listing-form .form-group, #new-watchlist-form .form-group, #new-zips-form .form-group{
	width: 500px;
	width: block;
}

#zips-datatable a.btn {
	margin-right: 15px;
}



/* For the /explore datatable */
div.precentage {
	display: inline-block;
	margin-right: 10px;
	padding: 3px;
	color: grey;
}
span.precentage-top {
	display: block;
}
span.precentage-bottom {
	display: block;
	text-align: center;
	border-top: 1px solid black;
}


/*  For the watchlist buttons in /explore */
.watchlist-rent-wrapper p, .watchlist-sell-wrapper p {
	margin-bottom: 0px;
}
.watchlist-rent-wrapper span, .watchlist-sell-wrapper span {
	font-size: 12px;
}